@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
<div id="clients-content">
    <div id="client-list" class="container border">
        <div id="clienttable-header">
            <h2 class="p-3 font-weight-bold" align="center">Clients Lists</h2>
        </div>
        <div class="col-lg-12 p-3 mb-3 d-flex justify-content-between">
            <div class="col-lg-10 search-container" url="/Clients/ClientsList/">
                <input type="text" class="col-md-8 form-control txt-client-search float-left mr-3" placeholder="Search...">
                <button class="btn btn-default btn-client-search">Search</button>
            </div>
            <div class="col-lg-1 float-left">
                <input id="btn-addclients" type="button" class="btn btn-primary float-right" value="Add New Client" />
            </div>
        </div>

        @{Html.RenderAction("_ClientsList", "Clients");}
    </div>

</div>