
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="userprofile-wrapper">
    @*TOP PART*@
    <div class="user-information d-flex flex-row justify-content-center">
        <div class="user-img mr-2">
            <img src="~/Content/img/img-1.png" class="user-img" alt="User Image" style="width: 200px; border-radius:7rem;" />
        </div>
        <div class="user-info ml-3">
            <h3>John Doe</h3>
            <p class="user-role">Admin Team</p>
            <p class="user-desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>

    @*OTHER INFORMATION PART*@
    @*<div class="d-flex flex-row justify-content-center">
        <div class="user-bi">
            <h5 class="heading">basic information</h5>
            <ul>
                <li>
                    date of birth: dd/mm/yyyy
                </li>

            </ul>
        </div>
    </div>*@
</div>

