@font-face {
    font-family: Rubik-Regular;
    src: url(../font/Rubik-Regular.woff);
    src: url(../font/Rubik-Regular.woff2);
}

body {
    font-family: Rubik-Regular;
    margin: 0;
    padding: 0;
    line-height: 1;
}
/*
input {
    border-radius: 2rem !important;
}*/

ul, li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content .container{
    max-width: 100%;
}

.wrapper{
    height: 100vh;
}

.main-footer{
    position: absolute;
    bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*Sidebar CSS changes*/
.dropdown-btn{
    padding: 6px 8px 6px 16px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    } 

.dropdown-btn:hover{
    color: white;
    background-color: coral;
    border-radius: 0.5rem;
  }

.dropdown-container{
    display: none;
}


/*Sidebar*/
.main-sidebar{
    overflow: hidden;
}

.sidebar{
   position: relative;
   height: 100vh;
}

.userprofile-wrapper {
    height: 100%;
}

    .userprofile-wrapper .user-info {
        width: 60%;
    }



/*
    #fixed-menu .text-center .list-group .list-group-item {
        background-color: #343a40;
        border: none;
    }

    #fixed-menu .text-center .list-group .list-group-item a:hover {
        color: coral;
    }*/

ul.usericon-dropdown{
    position : relative;
    display : none;
}

/*--------------Clients------------------*/

#client-list, #user-list {
    width: 80%;
    margin: auto !important;
    font-size: 0.85rem !important;
    padding: 10px;
}

#client-list-table {
    border: 1px solid #d3d3d3;
}


/*-------------ClientList Table CSS----------------*/

    #client-list td {
    vertical-align: middle;
    cursor : pointer;
    }

/*    #client-list table > tbody > tr > td,
    #client-list table > tbody > tr > th {
        border-top: none !important;
    }
*/
#client-list-table #client-table .hidden-td-row{
    padding: 0 !important;
    background-color: #EFEFEF;
}

#client-list-table #client-table .client-name p:hover {
    color : red;
}

#client-list-table #client-table #branch-list-table .branch-name:hover{
    color : red;
}

#branch-list-table {
    margin: 0;
}

#client-table{
    margin:0;
    padding: 10px;
}

.selected {
    background-color: #DCDCDC;
}


/*------------Client Information---------------*/
#client-information, #branch-information, #contact-information{
    line-height : 30px;
}